/* *, *::before, *::after {box-sizing: border-box} */

.App{
  text-align: center;
  background-image: url("./components/Images/lake-house.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  }
  