form {
  position: fixed;
  top: 5vh;
  right: 10vw;
 }

#search-param {
  width: 15rem;
  color: black;
  border: none;
  opacity: 0.6;
  padding:0rem;
}

#search-button {
  background-color: rgb(103, 103, 156);
  width: 2rem;
  border: none;
}

input:focus::placeholder {
  color: transparent;
}
