#container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 10vw;
  margin: 0 auto;
}

#nav-bar-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  height: 10vh;
  margin: 0 auto;
}

.nav-selection {
  height: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  padding: 2rem 2rem;
  font-size: 1.3rem;
  cursor: pointer;
  text-decoration: none;
}

.selected {
  border-bottom: 3px solid rgb(255, 252, 252);
  color: black;
}

#page-content {
  width: 80vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  align-items: center;
}

#page-content::-webkit-scrollbar {
  display: none;
}

#error {
  padding-top: 3rem;
  color: white;
  font-size: 1rem;
}

#home-page-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  padding-top: 5vh;
  font-weight: bold;
}

h5 {
  color: white;
  padding-top: 5vh;
}

p {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  align-self: center;
}

@media (max-width: 1148px) {
  #nav-bar-container {
    justify-content: start;
    margin: 0;
  }
}

@media (max-width: 800px) {
  .nav-selection {
    padding: 0.7rem 0.5rem 0.1rem 0.5rem;
    height: 2.7rem;
  }
  #nav-bar-container {
    justify-content: space-evenly;
    height: 6vh;
  }
  form {
    display: flex;
    justify-content: center;
    padding-top: 0rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    opacity: 0.7;
  }

  #page-content {
    margin-top: 0;
    width: 96vw;
    height: 88vh;
  }

  h2,
  h5 {
    padding: 1rem 2rem;
  }

  p {
    font-size: 1rem;
    padding: 0rem 1rem;
  }

  #quote {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -70%);
    padding-right: 0vw;
  }

  #container {
    position: absolute;
    left: 2vw;
  }

  #tweet-media-v2 {
    width: 50vw;
    height: 40vh;
    max-height: 30vh;
  }
  #tweet-media-v1 {
    width: 50vw;
    max-height: 30vh;
  }
}

@media (min-height: 900px) {
  form {
    top: 4vh;
  }
}

@media (max-height: 700px) {
  #nav-bar-container {
    height: 12vh;
  }
  .nav-selection {
    padding: 1rem 2rem;
  }
}

@media screen and (orientation: landscape) and (max-width: 840px) {
  .nav-selection {
    padding: 0rem 2rem 0.1rem 2rem;
    height: 2rem;
  }
  #nav-bar-container {
    display: flex;
    justify-content: space-evenly;
    height: 8vh;
  }
  form {
    display: flex;
    justify-content: center;
    padding-top: 0rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    opacity: 0.7;
  }

  #page-content {
    margin-top: 0.5rem;
    width: 96vw;
    height: 78vh;
  }

  h2,
  h5 {
    padding: 0.5rem 1rem;
  }

  p {
    font-size: 1rem;
    padding: 0rem 1rem;
  }

  #quote {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -70%);
    padding-right: 0vw;
  }

  #container {
    left: 2vw;
  }
  #tweet-card {
    width: 95vw;
    max-height: 90vh;
    padding: 0.4rem;
    overflow: auto;
    margin: 0.2rem auto;
  }
  .overlay img {
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    transform: scale(1);
    transition: transform 0.3;
  }
}
