#quote {
    font-family: 'Kalam', cursive;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 65vh;
    left: 65vw;
    padding-right: 12vw; 
    color: rgb(231, 224, 159);
}

@keyframes text {
    from {
        opacity: 0;
    }
    to {
       opacity: 0.9;
    }
}
#author, #text {
    animation: text 8s;
}
